// 白色
$white: #fff;
// リンク等にに使う、ポジティブ寄りのノーマルアクションに使う
$link: #00ccff;
// エラー文などのアラートを出すなど、ネガティブなアクションが起きたときの背景色、濃いオレンジ色
$alert: #ff5100;
// noticeの背景色、新規登録ボタン等ポジティブなアクションに使う色、エメラルドグリーン
$notice: #3CCACE;
// タイトルのフォントカラー
$title: #ff9100;
// メッセージ等に使う落ち着いた青
$message: #4169e1;
