= render partial: "template/header"
  
.top
  %section.firstView
    %h2
      ScoreListへようこそ
    %h4
      共通テストのスコアの推移を確認できます
  - if user_signed_in?  
    .top__new
      スコアを登録する
      .top__new__link
        = link_to new_study_score_path do
          %span 新しいスコアを登録する