= render partial: "template/header"
  
.top
  %section.firstView
    .firstView__content
      %h2.firstView__content__copy
        %br 過去の自分を超えてゆけ
      %p.firstView__content__text 
        ScoreListはあなたの成長を記録し
        %br 可視化してくれるアプリです
  %section.secondView
    .secondView__content
      %h4.secondView__content__copy
        あなたの成長を記録しましょう
        -# .secondView__content__image
        -#   = image_tag 'graph.png'
  - if user_signed_in?  
    .top__new
      .top__new__title
        スコアを登録する
      .top__new__studyscore__link
        = link_to new_study_score_path do
          %span 共通テストの新しいスコアを登録する
      .top__new__toeicscore__link
        = link_to new_toeic_score_path do
          %span TOEIC L&Rの新しいスコアを登録する