.new__studyscore
  %h2
    共通テストの模試の結果の登録
  .new__studyscore__form
    =form_with model: @study_score ,class:"new__studyscore__form__box",local: true do |f|
      .f__field
        = f.label
        = f.text_field
      .f__field
        = f.label
        = f.number_field