= render partial: "template/header"

.mypage
  %h2.mypage__title
    マイページ
  %p.mypage__describe
    自分の成績の詳細が見れます
  .mypage__user--info
    ユーザー名
    = @nickname
  .back
    = link_to root_path do
      トップページにもどる
