.new__studyscore
  %h2
    スコアの登録
  .new__studyscore__form
    =form_with model: @study_score ,class:"new__studyscore__form__box",local: true do |f|
      .f__field
        = f.label
        = form.number_field