.editUser {

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;

  h2.ediiUser__title {

    padding: 50px 0;
    font-weight: bold;
    color: $message;
    font-size: 24px;
  }

  h3 {
    padding: 50px 0;
    font-weight: bold;
    color: $message;
    font-size: 16px;
  }

  .field {
    justify-content: center;
    label {
      font-size: 24px;
    }
    input {
      width: 330px;
      height: 48px;
      padding : 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin: 8px;
    }
    &__message {
      color: $message;
    }
  }

  .actions{

    margin: 50px 0;

    &__btn {
      width: 328px;
      height: 50px;
      background-color: $notice;
      border: 1px solid $notice;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
    }
  }

  .link-to-userpage{
    &__btn {
      @include btn();
      background-color: $link;
      border: 1px solid $link;
    }
  }
}