.editUser {

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;

  h2.ediiUser__title {

    padding: 50px 0;
    font-weight: bold;
    color: $message;
    font-size: 24px;
  }

  h3 {
    padding: 50px 0;
    font-weight: bold;
    color: $message;
    font-size: 16px;
  }

}