* {
  box-sizing: border-box;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    &__left {
      margin-top: 26px;
      margin-left: 50px;
      .title {
        color: #0099ff;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
  
}