* {
  box-sizing: border-box;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    &__left {
      .title {
        color: #0099ff;
      }
      
    }
  }
  
}