.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: $title;
    margin: 20px 0;
  }

  h4 {
    font-size: 24px;
    color: $notice;
  }

  .actions {
    margin: 20px;
    &__btn {
      width: 328px;
      height: 50px;
      background-color: $link;
      border: 1px solid $link;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
    }
  }

}

.link_to {

  &__new_password_path {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    &__btn {
      width: 328px;
      height: 50px;
      padding-top: 12px;
      background-color: $alert;
      border: 1px solid $alert;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      text-align: center;
    }

    a {
      text-decoration: none;
    }

  }

  &__new_registration_path {
    display: flex;
    justify-content: center;

    &__btn {
      width: 328px;
      height: 50px;
      padding-top: 12px;
      background-color: $notice;
      border: 1px solid $notice;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      text-align: center;
    }

    a {
      text-decoration: none;
    }
  }
}