.mypage {

  &__inner {
    margin-top: 50px;
  }

  &__title {
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: $notice;
    text-align: center;

    &--sub {
      margin-bottom: 25px;
      font-size: 16px;
      color: $notice;
      text-align: center;
    }
  }

  &__describe {
    text-align: center;
    color: $message;
  }

  &__user__info {
    margin: 25px 0;
    font-size: 24px;
    text-align: center;

    &--title{
      color: $notice;
    }
    
    &--name {
      color: springgreen;
    }
  }

  &__user__link-to-scores{
    text-align: center;

    &__message {
      margin: 25px 0;
      color: $message;
    }

  }

}