.mypage {

  &__inner {
    margin-top: 50px;
  }

  &__title {
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: $notice;
    text-align: center;

    &--sub {
      margin-bottom: 25px;
      font-size: 16px;
      color: $notice;
      text-align: center;
    }
  }

  &__describe {
    text-align: center;
    color: $message;
    margin-bottom: 25px;
  }

  &__user__info {
    margin: 25px 0;
    font-size: 24px;
    text-align: center;

    &--title{
      color: $notice;
    }
    
    &--name {
      color: springgreen;
    }
  }

  &__user__edit {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__message {
      text-align: center;
      color: $message;
      font-weight: bold;
    }

    &__btn {
      text-align: center;
      @include btn();
      background-color: $notice;
      border: 1px solid $notice;
    }
  }

  &__user__link-to-scores{
    text-align: center;
    align-items: center;

    &__message {
      margin: 25px 0;
      color: $message;
    }

    &__links {

      display: flex;
      flex-direction: column;
      align-items: center;

      &__toeicscore {
        margin: 10px 0;
      }

      &__studyscore {
        margin: 10px 0;
      }

      &__btn {
        justify-content: center;
        cursor: pointer;
        text-align: center;

        &--toeic {
          @include btn();
          background-color: skyblue;
          border: 1px solid skyblue;
        }

        &--study {
          @include btn();
          background-color: slateblue;
          border: 1px solid slateblue;
        }
      }
    }

  }

}