.mypage {

  &__inner {
    margin-top: 50px;
  }

  &__title {
    margin: 50px;
    font-size: 36px;
    font-weight: bold;
    color: $notice;
    text-align: center;

    &--sub {
      font-size: 16px;
      text-align: center;
    }
  }

  &__describe {
    text-align: center;
    color: $message;
  }

  &__user__info {
    color: $notice;

    &--title{
      font-size: 24px;
    }
    
    &--name {
      color: $notice;
    }
  }

  &__user__link-to-scores{

    &__message {
      text-align: center;
      color: $message;
    }

  }

}