.new__toeicscore {
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__title {

    margin: 50px 0;

    h2 {
      color: $title;
      font-size: 36px;
      font-weight: bold;
    }

    h4 {
      color: $message;
    }
  
  }

  &__form__box {

    .f__field {
      justify-content: center;
      margin: 20px 0;

      label {
        font-size: 24px;
        font-weight: bold;
        color: $message;
      }

      p {
        color: skyblue;
      }

      input {
        width: 330px;
        height: 48px;
        padding : 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin: 8px;
      }
    }

    .new__toeicscore__total {
      font-size: 24px;
      font-weight: bold;
      color: $message;

      &__score {
        color: $notice;
      }
    }

    .f__submit {

      margin: 20px;

      &__btn {
        width: 328px;
        height: 50px;
        background-color: $link;
        border: 1px solid $link;
        border-radius: 4px;
        color: $white;
        cursor: pointer;
      }

      &__errormessage {
        color: $message;
      }
    }
  }

}

.create__toeicscore {

  &__message {
    margin: 50px 0;
    text-align: center;
    font-size: 24px;
    color: $message;
  }
}

.index__toeicscore {

  &__title {
    margin: 50px 0;
    font-size: 24px;
    color: $message;
    text-align: center;
  }


  &__list {

    display: flex;
    text-align: center;
    margin-bottom: 50px;

    &__administration {
      width: calc(100% / 5);

      &__title {
        margin-bottom: 20px;
        font-size: 24px;
      }

      &__number {
        margin-bottom: 10px;
      }
    }
    
    &__testdate {
      width: calc(100% / 5);

      &__title {
        margin-bottom: 20px;
        font-size: 24px;
      }

      &__date {
        margin-bottom: 10px;
      }
    }

    &__listening {
      width: calc(100% / 5);

      &__title {
        margin-bottom: 20px;
        font-size: 24px;
      }

      &__score {
        margin-bottom: 10px;
      }
    }

    &__reading {
      width: calc(100% / 5);

      &__title {
        margin-bottom: 20px;
        font-size: 24px;
      }

      &__score {
        margin-bottom: 10px;
      }
    }

    &__total {
      width: calc(100% / 5);
      color: $notice;

      &__title {
        margin-bottom: 20px;
        font-size: 24px;
      }

      &__score {
        margin-bottom: 10px;
      }
    }

  }

  


  


  .link-to-userpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__btn {
      @include btn();
      background-color: $link;
      border: 1px solid $link;
    }
  }

  

}