.top {
  .firstView {
    width: 100%;
    height: 640px;
    background-image: image-url('examimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
}