.top {
  
  .firstView {
    width: 100%;
    height: 480px;
    background-image: image-url('examimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding-top: 35px;
      padding-left: 40px;

      &__copy {
        text-shadow: 0 0 5px #fffd75;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.2;
        color: $title;
      }
      &__text {
        text-shadow: 0 0 5px #ff8800;
        font-size: 18px;
        color: $white;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
    }
  }

  .secondView{
    width: 100%;
    height: 640px;
    background-image: image-url('graph.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;

    &__content {

      &__copy {
        max-width: 1280px;
        font-size: 36px;
        font-weight: bold;
        color: red;
        text-shadow: 0 0 5px #ff92ff;
        padding-top: 35px;
        padding-left: 40px;
      }

    }
  }
  
  &__new {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;

    a {
      text-decoration: none;
      color: $white;
    }

    &__title {

      margin: 50px 0;
      width: 100%;
      height: 74px;
      font-size: 50px;
      font-weight: bold;
      background-color: $notice;
      color: $white;
      text-align: center;

    }

    &__message {
      margin: 25px;
      font-size: 24px;
      font-weight: bold;
      color: $message;
      text-align: center;
    }


    
    &__studyscore__link {
      margin: 25px;
      @include btn();
      background-color: slateblue;
      border: 1px solid slateblue;
      cursor: pointer;
      text-align: center;
      &:hover {
        border-color: lighten(slateblue, 15%);
        color: lighten(slateblue, 15%);
      }
    }

    &__toeicscore__link {
      margin: 25px;
      
      background-color: skyblue;
      border: 1px solid skyblue;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
    }

    &__notLogin {
      margin: 50px;
      font-size: 36px;
      text-align: center;
      color: red;
    }

    &__new-registration__link {
      width: 328px;
      height: 50px;
      padding-top: 12px;
      background-color: $notice;
      border: 1px solid $notice;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
    }
    
  }
}