.top {
  
  .firstView {
    width: 100%;
    height: 480px;
    background-image: image-url('examimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding-top: 35px;
      padding-left: 40px;

      &__copy {
        text-shadow: 0 0 5px #fffd75;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.2;
        color: $title;
      }
      &__text {
        text-shadow: 0 0 5px #ff8800;
        font-size: 18px;
        color: $white;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
    }
  }

  .secondView{
    width: 100%;
    height: 640px;
    display: flex;
    background-image: image-url('graph.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;

    &__content {

      &__copy {
        font-size: 24px;
        color: red;
      }

    }
  }
  
  &__new {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;

    &__title{

      margin: 50px 0;
      font-size: 24px;
      color: $message;

    }

    a {
      text-decoration: none;
      color: $link;
    }

  }
}